@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");

.container {
  padding: 15px;
  font-family: "Roboto";
}

.trendingPlaylistWrapper {
  background-color: #ffffff;
  padding: 20px 10px;
  border-radius: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 10px 10px;

  & > div {
    p:first-child {
      font-size: 16px;
      font-weight: 500;
      text-align: left;
      color: rgba(0, 0, 0, 0.87);
      font-family: "Poppins";
    }
    p:last-child {
      font-size: 12px;
      font-weight: 500;
      text-align: left;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.nextPrev {
  display: flex;
  flex-direction: row;

  & > div {
    align-items: center;
    background: rgba(0, 0, 0, 0.08);
    width: 34px;
    height: 34px;
    margin-left: 10px;
    text-align: center;
    padding: 5px;
  }
}

.playlist {
  display: flex;
  flex-direction: row;
}
