@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");

.container {
  border-radius: 8px;
  background-color: #ffcccc;
  margin-right: 20px;
  padding: 25px;
  height: 385px;
  width: 344px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: "Roboto";

  & > div > p {
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > div {
    p:first-child {
      font-weight: 500;
      font-size: 10px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.87);
      letter-spacing: 1.5px;
    }

    p:last-child {
      font-weight: 700;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.87);
      font-family: "Poppins", sans-serif;
    }

    i {
      color: #ef5350;
    }
  }
}

.listWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;

  & > .profile {
    width: 40px;
    height: 40px;
    margin-right: 10px;

    img {
      border-radius: 50%;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  & > div {
    p:first-child {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.25px;
      color: rgba(0, 0, 0, 0.87);
    }

    p:last-child {
      font-size: 10px;
      letter-spacing: 0.4px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.totalVideos {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
